body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  background-color: DodgerBlue;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar {
  height: 100vh;
}

.nav {
  background-color: #f1f1f1;
  width: 100px;
  margin: 0;
  text-align: center;
  line-height: 75px;
}

.content {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  align-self: center
}
