<!DOCTYPE html>
<html>

<head>
  <title>Portfolio</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <header>
    <h1>Portfolio</h1>
  </header>

  <main class="main">
    <div>
      <ul class="nav" id="nav">
        <li><a href="/#home"><button class="navbutton" title="Home">Home</li></button></a></li>
        <li><a href="/#resume"><button class="navbutton" title="Resume">Resume</li></button></a></li>
        <li><a href="/#projects"><button class="navbutton" title="Projects">Projects</li></button></a></li>
        <li><a href="/#contact"><button class="navbutton" title="Contact">Contact</li></button></a></li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </main>


</body>
</html>
