<!DOCTYPE html>
<html>

<head>
  <title>Portfolio</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="nav.css">
</head>

<body>

  <header>
    <h1>Portfolio</h1>
  </header>

  <main class="main">
    <div>
      <ul class="nav">
        <li><a class="active" href="#pg1">Home</a></li>
        <li><a href="#pg2">News</a></li>
        <li><a href="#pg3">Contact</a></li>
        <li><a href="#pg4">About</a></li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </main>


</body>
</html>
